.gameArena {
    float: left;
    width: 200px;
    position: relative;
    min-height: 350px;
}

.rightBar {
    float: left;
}

.leftBar {
    float: left;
}

.rollButton {
    width: 180px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.newGame{
		clear:both;
		margin-top:520px;

}
.newGame input[type=text]{
	width:20px;
}