body{
	font-family: Arial;
}

.frameContainer {
    float: left;
    margin-right: 30px;
}

.gameArena {
    float: left;
    width: 200px;
    position: relative;
    min-height: 350px;
}

.rightBar {
    min-height: 350px;
    width: 1px;
    border-right: 2px solid black;
    float: left;
}

.leftBar {
    min-height: 350px;
    width: 1px;
    border-left: 2px solid black;
    float: left;
}

.rollButton {
    width: 180px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10px;
}

.newGame {
    clear: both;
}

.newGame input[type=text] {
    width: 20px;
}

.scoreTable td {
    min-width: 40px;
    border: 3px solid black;
    text-align: center;
}

#pinHolder {
      text-align: center;
  font-size: 44px;
  font-family: Arial;
  line-height: 33px;
    height: 150px;

}
#scoreText{

	text-align: center;
	margin-top: 40px;
}
.seperator{
	font-family: Arial;
  font-size: 21px;
}
.frameTotal{
	border-top: 1px solid black;
	margin-top: 4px;
	font-weight: bold;
	font-family: Arial;
	font-size: 15px;
	height: 20px;
	color:blue:;
}
.totalScore {
    font-weight: bold;
    color: red;
}
